<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head> 
<style>
    body{
    text-align: center;
    background-color:#EEE9E9;
    }
    h1{
        text-align: center;
        font-size:xx-large;
        font-style: italic ;
        font-family: Snell Roundhand, cursive;
    }
</style>
<body>
    <h1>Resultado: <%=resultado%> </h1>
</body>
</html>